<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="center-align">Login</h1>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter your Username" [(ngModel)]="username"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter your Password" [(ngModel)]="password"/>
    </div>
    <button type="button" class="btn btn-primary" (click)="login();">Login</button>
  </div>
</div>

