<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <!--Item Description and Nutrition facts-->
          <div id="nutrition-facts">
            <ng-container *ngFor="let nutrient of mealItem.foods[0].food.nutrients">
              <div class="row">
                <div class="col-md-3">{{nutrient.name}}</div>
                <div class="col-md-8">{{nutrient.value}}</div>
                <div class="col-md-1">{{nutrient.unit}}</div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--Diabetic information specific to this item-->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <!--Meal so far-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--Complete diabetic information-->
        </div>
      </div>
    </div>
  </div>
</div>
