<div class="container-fluid">
  <div class="row a">
    <div class="col col-md-9 col-md-offset-1 margin-top cursorFix">
      <div class="authHover" (click)="back();"><b>Back</b></div>
    </div>
    <div class="col col-md-2">
      <div class="row center-align margin-top cursorFix">
        <ng-container *ngIf="!loggedIn">
          <div class="col col-md-4 col-md-offset-2 authHover" (click)="login();">Login</div>
          <div class="col col-md-6 authHover" (click)="register();">Register</div>
        </ng-container>
        <ng-container *ngIf="loggedIn">
          <div class="col col-md-4 col-md-offset-2">{{user.username}}</div>
          <div class="col col-md-6 authHover" (click)="logout();">Logout</div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="row s">
    <div class="col-md-10 col-md-offset-1">
      <div class="row margin-top">
        <div class="col-md-5 center-align">
          <section class="performance-facts">
            <header class="performance-facts__header">
              <h1 class="performance-facts__title">Nutrition Facts</h1>
              <p>Serving Size 100 grams
            </header>
            <table class="performance-facts__table">
              <thead>
              <tr>
                <th colspan="3" class="small-info">
                  Amount Per Serving
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th colspan="2">
                  <b>Calories</b>
                  {{nutritionFacts.energy[0]}}
                </th>
              </tr>
              <tr class="thick-row">
                <td colspan="3" class="small-info">
                  <b>% Daily Value*</b>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>Total Fat</b>
                  {{nutritionFacts.totalFat[0] + nutritionFacts.totalFat[1]}}
                </th>
                <td>
                  <b>{{nutritionFacts.totalFat[2]}}%</b>
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th>
                  Saturated Fat
                  {{nutritionFacts.totalSaturated[0] + nutritionFacts.totalSaturated[1]}}
                </th>
                <td>
                  <b>{{nutritionFacts.totalSaturated[2]}}%</b>
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th>
                  Trans Fat
                  {{nutritionFacts.totalTransFat[0] + nutritionFacts.totalTransFat[1]}}
                </th>
                <td>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>Cholesterol</b>
                  {{nutritionFacts.cholesterol[0] + nutritionFacts.cholesterol[1]}}
                </th>
                <td>
                  <b>{{nutritionFacts.cholesterol[2]}}%</b>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>Sodium</b>
                  {{nutritionFacts.sodium[0] + nutritionFacts.sodium[1]}}
                </th>
                <td>
                  <b>{{nutritionFacts.sodium[2]}}%</b>
                </td>
              </tr>
              <tr>
                <th colspan="2">
                  <b>Total Carbohydrate</b>
                  {{nutritionFacts.carbs[0] + nutritionFacts.carbs[1]}}
                </th>
                <td>
                  <b>{{nutritionFacts.carbs[2]}}%</b>
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th>
                  Dietary Fiber
                  {{nutritionFacts.fiber[0] + nutritionFacts.fiber[1]}}
                </th>
                <td>
                  <b>{{nutritionFacts.fiber[2]}}%</b>
                </td>
              </tr>
              <tr>
                <td class="blank-cell">
                </td>
                <th>
                  Sugars
                  {{nutritionFacts.sugar[0] + nutritionFacts.sugar[1]}}
                </th>
                <td>
                </td>
              </tr>
              <tr class="thick-end">
                <th colspan="2">
                  <b>Protein</b>
                  {{nutritionFacts.protein[0] + nutritionFacts.protein[1]}}
                </th>
                <td>
                </td>
              </tr>
              </tbody>
            </table>

            <table class="performance-facts__table--grid">
              <tbody>
              <tr>
                <td colspan="2">
                  Vitamin A
                  {{nutritionFacts.vitaminA[2]}}%
                </td>
                <td>
                  Vitamin C
                  {{nutritionFacts.vitaminC[2]}}%
                </td>
              </tr>
              <tr class="thin-end">
                <td colspan="2">
                  Calcium
                  {{nutritionFacts.calcium[2]}}%
                </td>
                <td>
                  Iron
                  {{nutritionFacts.iron[2]}}%
                </td>
              </tr>
              </tbody>
            </table>

            <p class="small-info">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs:</p>

            <table class="performance-facts__table--small small-info">
              <thead>
              <tr>
                <td colspan="2"></td>
                <th>Calories:</th>
                <th>2,000</th>
                <th>2,500</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th colspan="2">Total Fat</th>
                <td>Less than</td>
                <td>65g</td>
                <td>80g</td>
              </tr>
              <tr>
                <td class="blank-cell"></td>
                <th>Saturated Fat</th>
                <td>Less than</td>
                <td>20g</td>
                <td>25g</td>
              </tr>
              <tr>
                <th colspan="2">Cholesterol</th>
                <td>Less than</td>
                <td>300mg</td>
                <td>300 mg</td>
              </tr>
              <tr>
                <th colspan="2">Sodium</th>
                <td>Less than</td>
                <td>2,400mg</td>
                <td>2,400mg</td>
              </tr>
              <tr>
                <th colspan="3">Total Carbohydrate</th>
                <td>300g</td>
                <td>375g</td>
              </tr>
              <tr>
                <td class="blank-cell"></td>
                <th colspan="2">Dietary Fiber</th>
                <td>25g</td>
                <td>30g</td>
              </tr>
              </tbody>
            </table>

            <p class="small-info">
              Calories per gram:
            </p>
            <p class="small-info text-center">
              Fat 9
              &bull;
              Carbohydrate 4
              &bull;
              Protein 4
            </p>
          </section>
        </div>
        <div class="col-md-7">
          <div class="panel panel-default">
            <div class="panel-heading">
              Diabetic Implications
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="current-blood-sugar-input">Current Blood Sugar</label>
                    <input (change)="change();" type="text" class="form-control" id="current-blood-sugar-input" [(ngModel)]="currentBloodSugar"/>
                  </div>
                  <div class="form-group">
                    <label for="hours-since-last-dose-input">Hours Since Last Dose</label>
                    <input (change)="change();" type="text" class="form-control" id="hours-since-last-dose-input" [(ngModel)]="hoursSinceLastDose"/>
                  </div>
                  <div class="form-group">
                    <label for="units-in-last-dose-imput">Units In Last Dose</label>
                    <input (change)="change();" type="text" class="form-control" id="units-in-last-dose-imput" [(ngModel)]="unitsInLastDose"/>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="carbohydrate-ratio-input">Carbohydrate Ratio</label>
                    <input (change)="change();" type="text" class="form-control" id="carbohydrate-ratio-input" [(ngModel)]="carbohydrateRatio"/>
                  </div>
                  <div class="form-group">
                    <label for="correction-ratio-input">Correction Ratio</label>
                    <input (change)="change();" type="text" class="form-control" id="correction-ratio-input" [(ngModel)]="correctionRatio"/>
                  </div>
                  <div class="form-group">
                    <label for="target-blood-sugar-input">Target Blood Sugar</label>
                    <input (change)="change();" type="text" class="form-control" id="target-blood-sugar-input" [(ngModel)]="targetBloodSugar"/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="insulin-on-board-duration-input">Insulin On Board Duration</label>
                <input (change)="change();" type="text" class="form-control" id="insulin-on-board-duration-input" [(ngModel)]="insulinOnBoardDuration"/>
              </div>

              <h3>Insulin Required:</h3>
              <h3>{{insulinRequired.toFixed(2)}} units</h3>
              <ng-container *ngIf="excess">
                <h4 style="color: red">Warning! Even with this food, you are in danger of getting a low blood sugar!</h4>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div style="padding-top: 10px;">A carbohydrate counter to help diabetics manage their blood sugar.</div>
</div>

